/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg-color: #000028;
  --background-image: url('../images/cover-image-dark.png');
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-logo-color: #DB00FF;
  --header-a-text-block-title-color: #000028;
  --section-title-color: #FF0070;
  --nav-color: #FF0070;
  --button-color-hover: #FF007066;
}

.theme-dark .header__rec {
  display: block;
}