/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-bg-color: #fff1f7;
  --background-image: url('../images/cover-image-light.png');
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --header-logo-color: #FFC2E6;
  --header-a-text-block-title-color: #353430;
  --section-title-color: #353430;
  --nav-color: #353430;
  --button-color-hover: rgb(50 49 45 / 0.4);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-bg-color: #fff1f7;
  --background-image: url('../images/cover-image-light.png');
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --header-logo-color: #FFC2E6;
  --header-a-text-block-title-color: #353430;
  --section-title-color: #353430;
  --nav-color: #353430;
  --button-color-hover: rgb(50 49 45 / 0.4);
  }

  .header__rec {
    display: none;
  }
}
