/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--main-text-color);
  font-family: var(--font-family);
  background-image: var(--background-image-dark);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  height: 100vh; 
  min-height: 668px;
  padding: 10px;
}

.header-title,
.footer-title {
  color: var(--header-title-color);
  font-weight: 700;  
}

@media (width <= 768px) {
  .header-title,
  .footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width > 768px) {
  .header-title,
  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header-title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer-title {
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header-subtitle {
  color: var(--main-bg-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  justify-self: end;
  gap: 13px;
}

.header__theme-menu-button {
  border: solid 1px transparent;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--button-color-active);
}

.header__theme-menu-button_active {
  border: solid 1px var(--accent-color);
  pointer-events: none;
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px 40px;
  background-color: var(--main-bg-color);

  @media (width >= 768px) {
    padding: 60px 20px 60px;
  }

  @media (width >= 1024px) {
    gap: 80px;
  }
}

.content-section {
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.causes {
  .content-section__title {
    grid-column: 1/ -1;
    max-width: 236px;
  }

  .text-blocks {
    grid-column: 1/ -1;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  } 
}

.content-section__title {
  margin-block-end: 20px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.text-block {
  display: grid;
}

.text-block__title,
.text-block__subtitle {
  margin-block-end: 10px;  
  color: var(--main-bg-color);
  font-size: 18px;
  background-color: var(--accent-color);
}

.text-block__title {
  font-weight: 700;
  line-height: 23.4px;
}

.margin {
  margin-block-end: 20px;
}

.text-block__subtitle {
  font-weight: 400;
}

.text-block__content {
  margin-block-end: 20px;
  color: var(--main-text-color);
}

.text-block__content:last-child {
  margin-block-end: 0;
}

.text-blocks {
  display: grid;
  gap: 20px;

  @media (width >= 1024px) {
    grid-column: span 2;
  }
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  background-color: var(--main-bg-color);
  justify-content: center;
  align-content: center;

  @media (width >= 768px) {
    padding: 20px;
  }
}

